{% extends 'base.html.twig' %}

{% block title %}Nouveau Joueur{% endblock %}

{% block body %}
    <form method="post" enctype="multipart/form-data">
        {{ form_widget(form._token) }}
        <div class="row">
            <div class="col-md-6 mb-2">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                {{ form_row(form.plainPassword.first) }}
            </div>
            <div class="col-md-6 mb-2">
                {{ form_row(form.plainPassword.second) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                {{ form_row(form.lastName) }}
            </div>
            <div class="col-md-6 mb-2">
                {{ form_row(form.firstName) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                {{ form_row(form.birthDate) }}
            </div>
            <div class="col-md-6 mb-2">
                {{ form_row(form.gender) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                {{ form_row(form.elo) }}
            </div>
            <div class="col-md-6 mb-2">
                {{ form_label(form.file) }}
                <div>{{ form_widget(form.file) }}</div>
                <div>{{ form_errors(form.file) }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <div>
                    <button class="btn btn-primary">S'enregistrer</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


