{% set route = app.request.attributes.get('_route') %}

<nav class="main-menu">
    <ul>
        <li><a class="{{ route == 'tournament_index' ? 'active' : '' }}" href="{{ path('tournament_index') }}"><i class="fas fa-chess-board"></i> Tournois</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a class="{{ route == 'tournament_add' ? 'active' : '' }}" href="{{ path('tournament_add') }}"><i class="fa fa-plus"></i> Nouveau tournoi</a></li>
        {% endif %}
        <li><a class="{{ route == 'player_index' ? 'active' : '' }}" href="{{ path('player_index') }}"><i class="fa fa-users"></i> Joueurs</a></li>
    </ul>
</nav>
<nav class="user-menu">
    <ul>
        {% if app.user %}
            <li><a class="{{ route == 'player_profile' ? 'active' : '' }}" href="{{ path('player_profile') }}"><i class="fa fa-user"></i> {{ app.user.firstName }} {{ app.user.lastName }}</a></li>
            <li><a href="{{ path('app_logout') }}"><i class="fa fa-power-off"></i></a></li>
        {% else %}
            <li><a class="{{ route == 'app_login' ? 'active' : '' }}" href="{{ path('app_login') }}"><i class="fa fa-sign-in"></i> Se connecter</a></li>
            <li><a class="{{ route == 'player_register' ? 'active' : '' }}" href="{{ path('player_register') }}"><i class="fa fa-user-edit"></i> S'inscrire</a></li>
        {% endif %}
    </ul>
</nav>