{% extends 'base.html.twig' %}

{% block title %}Nouveau tournoi{% endblock %}

{% block body %}
    <form method="post">
        {{ form_widget(form._token) }}
        <div class="row">
            <div class="col-md-6 mb-2">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-6 mb-2 d-flex align-items-end">
                <div class="form-switch">
                    {{ form_widget(form.ranked) }}
                    {{ form_label(form.ranked) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                {{ form_row(form.date) }}
            </div>
            <div class="col-md-6 mb-2">
                {{ form_row(form.location) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                <div>
                    {{ form_label(form.eloMin) }} : <span class="range-value">{{ form.eloMin.vars.data }}</span>
                    {{ form_widget(form.eloMin) }}
                    {{ form_errors(form.eloMin) }}
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div>
                    {{ form_label(form.eloMax) }} : <span class="range-value">{{ form.eloMax.vars.data }}</span>
                    {{ form_widget(form.eloMax) }}
                    {{ form_errors(form.eloMax) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                <div>
                    {{ form_label(form.min) }} : <span class="range-value">{{ form.min.vars.data }}</span>
                    {{ form_widget(form.min) }}
                    {{ form_errors(form.min) }}
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div>
                    {{ form_label(form.max) }} : <span class="range-value">{{ form.max.vars.data }}</span>
                    {{ form_widget(form.max) }}
                    {{ form_errors(form.max) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                {{ form_row(form.categories) }}
            </div>
            <div class="col-md-6 mb-2">
                {{ form_row(form.genders) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary">Sauvegarder</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}



