{% extends 'base.html.twig' %}

{% block body %}
    <h4>
        {{ tournament.name }}
    </h4>
    <div class="row">
        <div class="col-md-4">
            <h5>Classement</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Joueur</th>
                        <th>V</th>
                        <th>N</th>
                        <th>D</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in players %}
                    <tr>
                        <td><div class="img-thumbnail">{{ player.image | playerImg }}</div> {{ player.firstName }} {{ player.lastName }}</td>
                        <td>{{ player.victories }}</td>
                        <td>{{ player.ties }}</td>
                        <td>{{ player.defeats }}</td>
                        <td>{{ player.score }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            {% if tournament.currentRound > 0 %}
                <h5>
                    Ronde: {{ round }}
                </h5>
                <div class="d-flex justify-content-between">
                    <div>
                        {% if round > 1 %}
                            <a href="{{ path('tournament_details', { 'tournamentId' : tournament.id, 'round' : round - 1 }) }}" class="btn btn-info text-white">Ronde précédente</a>
                        {% endif %}
                    </div>
                    <div>
                        {% if round < tournament.currentRound and tournament.maxRound > round %}
                            <a href="{{ path('tournament_details', { 'tournamentId' : tournament.id, 'round' : round + 1 }) }}" class="btn btn-info text-white">Ronde suivante</a>
                        {% endif %}
                        {% if(canNextRound(app.user, tournament)) %}
                            <a href="{{ path('tournament_next', { 'tournament': tournament.id }) }}" class="btn btn-danger">Terminer la ronde</a>
                        {% endif %}
                    </div>
                </div>
                <ul class="mt-5 list-group">
                {% for match in tournament.matches %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8 match">
                                {{ match.white | playerName }}
                                <span>VS</span>
                                {{ match.black | playerName }}
                            </div>
                            <div class="col-4">
                                {% if canUpdate(app.user, match, tournament) %}
                                    <select data-match="{{ match.id }}" data-tournament="{{ tournament.id }}" class="form-select resultSelect">
                                        {{ optionsEnum('App\\Entity\\MatchResult', match.result, ['BYE']) }}
                                    </select>
                                {% else %}
                                    <select class="form-select disabled" disabled>
                                        <option>{{ match.result.value }}</option>
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-2 d-flex justify-content-end">

            {% if canStart(app.user, tournament) %}
                <a href="{{ path('tournament_start', { 'tournamentId' : tournament.id }) }}" class="btn btn-danger">Démarrer</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block title %}
    Details du tournoi {{ tournament.name }}
{% endblock %}

{% block javascripts %}
    <script>
        const resultSelects = document.getElementsByClassName('resultSelect');
        for(let resultSelect of resultSelects) {
            resultSelect.addEventListener('change', e => {
                const result = e.target.value;
                const { match, tournament } = e.target.dataset;
                window.location.href = '/tournament/update/' + tournament + '/' + match + '/' + result;
            });
        }
    </script>
{% endblock %}


