{% extends 'base.html.twig' %}

{% block title %}Tournois{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header d-flex justify-content-between" data-bs-toggle="collapse" data-bs-target="#filters">
            <h4>Filtres</h4>
            <button class="btn btn-light"><i class="fa fa-cog"></i></button>
        </div>
        <div class="card-body collapse" id="filters">
            <form method="get">
                <div class="row">
                    <div class="mb-2 col-md-6">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2 col-md-6">
                        <div class="form-switch">
                            {{ form_widget(form.closed) }}
                            {{ form_label(form.closed) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2 col-12 d-flex justify-content-end">
                        <div>
                            <button class="btn btn-primary">Rechercher <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card card-body mt-2">
        {% if tournaments | length %}
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Categories</th>
                    <th>Genres</th>
                    <th>Classé</th>
                    <th>ELO min</th>
                    <th>ELO max</th>
                    <th>Players</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tournament in tournaments %}
                    <tr>
                        <td>{{ tournament.name }}</td>
                        <td>{{ tournament.date | date('d/m/Y') }}</td>
                        <td>{{ tournament.categories | implodeEnum(' ') }}</td>
                        <td>{{ tournament.genders | implodeEnum(' ') }}</td>
                        <td>{{ tournament.ranked ? 'Classé' : 'Non Classé' }}</td>
                        <td>{{ tournament.eloMin }}</td>
                        <td>{{ tournament.eloMax }}</td>
                        <td>
                            <span class="{{ tournament.players | length < tournament.min ? 'text-danger' : 'text-success' }}">{{ tournament.players | length }}</span>/{{ tournament.max }} (min: {{ tournament.min }})
                        </td>
                        <td>
                            <a href="{{ path('tournament_details', { 'tournamentId': tournament.id, 'round' : tournament.currentRound }) }}" class="btn btn-info btn-sm text-white icon">
                                <i class="fa fa-search"></i>
                            </a>
                            {% if canPlay(app.user, tournament) %}
                                <a href="{{ path('tournament_participate', { 'tournamentId': tournament.id }) }}" class="btn btn-success btn-sm icon">
                                    <i class="fa fa-add"></i>
                                </a>
                            {% endif %}
                            {% if canLeave(app.user, tournament) %}
                                <a href="{{ path('tournament_leave', { 'tournamentId': tournament.id }) }}" class="btn btn-danger btn-sm icon">
                                    <i class="fa fa-remove"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun tournoi</p>
        {% endif %}
    </div>
{% endblock %}
