@import "variables";

header {
  box-shadow: 0 2px 10px 0 $gray;
  background-color: white;
  z-index: 2;
  >.container {
    display: flex;
    justify-content: space-between;
    >.user-menu {
      justify-content: flex-end;
    }
    >nav {
      >ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        >li {
          height: 70px;
          padding: 0 10px;
          @include flex-center;
          >a {
            text-decoration: none;
            color: gray;
            position: relative;
            line-height: 2rem;
            &::after {
              content: '';
              display: block;
              width: 0;
              position: absolute;
              height: 2px;
              bottom: 0;
              left: 50%;
              background-color: $gray;
              transition: all .7s cubic-bezier(.2,.7,.1,1.5);
            }
          }
          >a:hover {
            &::after {
              width: 100%;
              left: 0;
            }
          }
          >a.active {
            color: $orange;
            &::after {
              background-color: $orange;
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }
  }
}