@import 'bootstrap';
@import 'toastr';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "variables";
@import "header";
@import "footer";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $light-gray;
  >main {
    background-color: white;
    flex-grow: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.table {
  td, th {
    vertical-align: middle;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: left;
    }
  }
}

.match {
  display: flex;
  justify-content: space-between;
  >span {
    &:nth-child(1){
      width: calc((100% - 25px) / 2);
      text-align: left;
    }
    &:nth-child(2) {
      width: 25px;
      text-align: center;
    }
    &:nth-child(3){
      width: calc((100% - 25px) / 2);
      text-align: right;
    }
  }
}

.img-thumbnail {
  height: 50px;
  width: 50px;
  object-fit: cover;
  overflow: hidden;
  padding: 0;
  img {
    width: 100%;
  }
}

.btn-sm.icon {
  width: 32px;
  margin: 2px;
}

[data-bs-toggle] {
  cursor: pointer;
}