@import "variables";

body {
  >main {
    background-color: transparent;
    display: flex;
    align-items: center;
    >.row {
      width: 100%;
      .card {
        box-shadow: 8px 8px 10px 0 $gray;
      }
    }
  }
}