<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.min.css" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                {% include 'partials/menu.html.twig' %}
            </div>
        </header>
        <main class="container">
            {% block body %}{% endblock %}
        </main>
        <footer>
            &copy; BSTORM - 2022
        </footer>

        {% for message in app.flashes('info') %}
            <div data-controller="toastr" data-status="info" data-message="{{ message }}"></div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div data-controller="toastr" data-status="success" data-message="{{ message }}"></div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div data-controller="toastr" data-status="error" data-message="{{ message }}"></div>
        {% endfor %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
